/* ****  styling for gravity forms **** */
.gform_wrapper {
    .gf_step:not(.gf_step_active) {
        opacity: .5!important;
    }
    .gf_step.gf_step_active {
        border-bottom: 2px solid #c1c1c1;
        padding-bottom: 23px;
    }
    .gfield.eai-hide-extensions {
        #extensions_message {
            display: none;
        }
    }
    .gform_body{
      .field_sublabel_above .ginput_complex.ginput_container label {//styling labels in form body
        font-size: 16px;
        font-weight: 700;
      }
      input[type="checkbox"] {
        margin-bottom: 0px;
      }
    }
    .gform_page_footer {
        .gform_save_link { // save and continue button
            float: right;
            padding-top: 0.8125em;
            padding-bottom: 0.75em;
            padding-right: 1.5em;
            padding-left: 1.5em;
            border: 2px solid $primary-color;
        }
    }
}
/* **** End of Gravity forms styling **** */
