/* ****  styling for gravity forms  & gravityview **** */
body .gform_wrapper {
    background-color: #e5ebf1;
    padding: 15px;
    border: 1px solid #1e73be;
    .gf_step:not(.gf_step_active) {
        opacity: .5!important;
    }
    .gf_step.gf_step_active {
        border-bottom: 2px solid #c1c1c1;
        padding-bottom: 23px;
        font-weight: bold;
    }

    .gform_body {
      .field_sublabel_above .ginput_complex.ginput_container label {//styling labels in form body
        font-size: 16px;
        font-weight: 700;
      }
      ul.gform_fields {  // fields
        li.gfield {
          .ginput_container /*,
          .ginput_container.ginput_container_phone,
          .ginput_container.ginput_container_email,
          .ginput_container.ginput_container_text,
          .ginput_container.ginput_container_list.ginput_list,
          .ginput_container.ginput_container_checkbox */ {
              margin-top: 0px!important; // getting title closer to input
            }
            .ginput_container.ginput_container_list.ginput_list:after {
              content: "use plus icon to add another";
              font-style: italic;
              display: block;
              margin-top: -14px;
              font-size: .8em;

            }
            .gsection_description, .gfield_description {
              font-size: 1em;
            }
        }
      }

      .eainc-file-upload-box .gform_drop_area {
        padding: 60px;
      }

      img.gform_delete + strong::after{
        content: "(Success)"
      }


      input[type="checkbox"] {
        margin-bottom: 0px;
      }
    }
    .gform_page_footer {
        .gform_save_link { // save and continue button
            float: right;
            padding-top: 0.8125em;
            padding-bottom: 0.75em;
            padding-right: 1.5em;
            padding-left: 1.5em;
            border: 2px solid $primary-color;
        }
    }
}
.gform_confirmation_wrapper  {
    border: 2px solid green;
    padding: 16px;
    .gform_confirmation_message {
        line-height: 1.2em;
    }
}
.gv-table-container {
  .gv-table-view {
    tbody {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
    }
    tfoot {
      display: none;
    }
  }

}

/* at full size */
@media only screen and (min-width: 1024px) {
    body .gform_wrapper   .gform_body  {
        ul.gform_fields {
          li.gfield {
            .ginput_container.ginput_container_list.ginput_list:after {
              text-align: right;
            }
          }
        }
      }
}
/* **** End of Gravity forms styling **** */
