/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #1E73BE; //<- blue //#2BB673; <- green  //#a62425;
$footer-widgets-background: #333;
// Background colors: 

$bkgoundContent: #FFFFFF; // 
$menuBarbkg: #D14719; //

/* Typography ------------------------------------------ */
